{% extends "foods/base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>天天生鲜搜索页</title>
    <style type="text/css">
        .search{
            width: 1200px;
            background-color: gold;
            height: 100px;
        }

    </style>
</head>
<body>
<div class="search">
{% block content %}
{% if query %}
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;搜索结果如下：</h3>
    <br>
    {% for result in page.object_list %}
        <a href="/detail{{ result.object.id }}/">&nbsp;&nbsp;&nbsp;&nbsp;{{ result.object.pName }}</a><br/>
    {% empty %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
        |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
</div>
</body>
</html>